.destination__container {
  background-image: url(../../../public/assets/destination/background-destination-desktop.jpg);
  width: calc(100% - 330px);
  padding-left: 165px;
  padding-right: 165px;

  h5 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: var(--title-color);
  }

  h5 span {
    font-weight: 700;
    opacity: 0.25;
  }
}

.destination__content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.destination__content-left {
  margin-right: 145px;

  img {
    height: 445px;
    width: 445px;
  }
}

.destination__content-right {
  color: var(--title-color);
  max-width: 445px;
  margin-top: 145px;

  h1 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    margin-top: 37px;
    margin-bottom: 14px;
  }

  .description {
    margin-bottom: 54px;
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 32px;
    color: var(--second-color);
  }

  hr {
    background: #383b4b;
    border: none;
    height: 1px;
  }
}

.info {
  display: flex;
  justify-content: space-between;

  .subheading2 {
    margin: 0;
    margin-bottom: 14px;
    margin-top: 28px;
    color: var(--second-color);
  }

  .subheading1 {
    margin: 0;
  }
}

nav {
  display: flex;

  li {
    margin-right: 35px;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: var(--second-color);
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -12px;
      left: 0;
      height: 2px;
      width: 0%;
      transition: all 0.3s;
      background-color: var(--title-color);
      opacity: 0.5;
    }

    &:hover::after {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  li.active {
    color: var(--title-color);

    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 2000px) {
  .destination__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    height: calc(100vh);

    h5 {
      font-size: 36px;
      letter-spacing: 4.725px;
    }
  }

  .destination__content-left {
    img {
      height: 645px;
      width: 645px;
    }
  }

  .destination__content-right {
    max-width: 545px;

    h1 {
      font-size: 120px;
    }

    .description {
      font-size: 26px;
    }
  }

  .info {
    .subheading2 {
      font-size: 20px;
    }

    .subheading1 {
      font-size: 36px;
    }
  }

  nav {
    li {
      font-size: 21px;
    }
  }
}

@media screen and (max-width: 1940px) {
}

@media screen and (max-width: 1230px) {
  .destination__container {
    width: calc(100%);
    padding-left: 0;
    padding-right: 0;
  }

  .destination__content-left {
    margin-right: 0;
  }

  .destination__content-right {
    max-width: 400px;
  }
}

@media screen and (max-width: 880px) {
  .destination__container {
    background-image: url(../../../public/assets/destination/background-destination-tablet.jpg);
    background-attachment: fixed;
    padding-top: 230px;
    height: calc(100vh - 230px);
  }

  .destination__content-container {
    flex-direction: column;
  }

  .destination__content-left {
    img {
      height: 300px;
      width: 300px;
    }

    h5 {
      margin: 0;
      text-align: left;
      justify-content: flex-end;
      position: absolute;
      left: 76px;
      top: 136px;
    }
  }

  .destination__content-right {
    margin-top: 53px;

    nav {
      justify-content: center;
    }

    h1 {
      margin-bottom: 0;
      font-size: 80px;
      line-height: 92px;
      text-align: center;
    }

    .description {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      margin-top: 8px;
      margin-bottom: 49px;
    }
  }

  .info {
    .subheading2 {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }

    .subheading1 {
      font-size: 28px;
      line-height: 32px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 550px) {
  .destination__container {
    background-image: url(../../../public/assets/destination/background-destination-mobile.jpg);
  }
}
