.destination__container {
  background-image: url(../../../public/assets/destination/background-destination-desktop.jpg);
  width: calc(100% - 330px);
  padding-left: 165px;
  padding-right: 165px;

  h5 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: var(--title-color);
  }

  h5 span {
    font-weight: 700;
    opacity: 0.25;
  }
}

.destination__content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.destination__content-left {
  margin-right: 145px;
}

.destination__content-right {
  color: var(--title-color);
  max-width: 445px;

  h1 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    margin-top: 37px;
    margin-bottom: 14px;
  }

  .description {
    margin-bottom: 54px;
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 32px;
    color: var(--second-color);
  }

  hr {
    background: #383b4b;
    border: none;
    height: 1px;
  }
}

.info {
  display: flex;
  justify-content: space-between;

  .subheading2 {
    margin: 0;
    margin-bottom: 14px;
    margin-top: 28px;
    color: var(--second-color);
  }

  .subheading1 {
    margin: 0;
  }
}

@media screen and (max-width: 1940px) {
}

@media screen and (max-width: 1230px) {
}

@media screen and (max-width: 880px) {
  .destination__container {
    background-image: url(../../../public/assets/destination/background-destination-tablet.jpg);
  }
}

@media screen and (max-width: 550px) {
  .destination__container {
    background-image: url(../../../public/assets/destination/background-destination-mobile.jpg);
  }
}
