// TRANSITION

/* Image fade */
.fade-img-enter {
  opacity: 0.5;
  z-index: 1;
  transform: rotate(10deg) scale(4);
  filter: blur(50px);
}
.fade-img-enter-active {
  opacity: 1;
  filter: blur(0);
  transform: rotate(0deg) scale(1);
  position: relative;
  z-index: 99;

  transition: all 500ms;
}
.fade-img-exit {
  opacity: 1;
  filter: blur(0);
  transform: rotate(0deg) scale(1);
}
.fade-img-exit-active {
  opacity: 0.5;
  transform: rotate(10deg) scale(4);
  filter: blur(50px);
  position: relative;
  z-index: 99;

  transition: all 500ms;
}

// SLIDE RIGHT
/* slide enter */
.slide-enter {
  opacity: 0;
  transform: translateX(25px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms linear, transform 200ms ease-in-out;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: translateX(25px);
  transition: opacity 150ms linear, transform 150ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}

// SLIDE LEFT
/* slide enter LEFT*/
.slide-left-enter {
  opacity: 0;
  transform: translateX(-25px);
  z-index: 1;
}
.slide-left-enter.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms linear, transform 200ms ease-in-out;
}

/* slide exit LEFT*/
.slide-left-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-left-exit.slide-left-exit-active {
  opacity: 0;
  transform: translateX(-25px);
  transition: opacity 150ms linear, transform 150ms ease-out;
}
.slide-left-exit-done {
  opacity: 0;
}

// SLIDE BOTTOM
/* slide enter bottom*/
.slide-bottom-enter {
  opacity: 0;
  transform: translateY(-25px);
  z-index: 1;
}
.slide-bottom-enter.slide-bottom-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms linear, transform 200ms ease-in-out;
}

/* slide exit bottom*/
.slide-bottom-exit {
  opacity: 1;
  transform: translateY(0);
}
.slide-bottom-exit.slide-bottom-exit-active {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 150ms linear, transform 150ms ease-out;
}
.slide-bottom-exit-done {
  opacity: 0;
}

// SLIDE TOP
/* slide enter top*/
.slide-top-enter {
  opacity: 0;
  transform: translateY(25px);
  z-index: 1;
}
.slide-top-enter.slide-top-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms linear, transform 200ms ease-in-out;
}

/* slide exit top*/
.slide-top-exit {
  opacity: 1;
  transform: translateY(0);
}
.slide-top-exit.slide-top-exit-active {
  opacity: 0;
  transform: translateY(-25px);
  transition: opacity 150ms linear, transform 150ms ease-out;
}
.slide-top-exit-done {
  opacity: 0;
}
