.navbar__container {
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  color: var(--title-color);
  justify-content: flex-end;
  z-index: 2;
}

.navbar__logo {
  margin: 62px 55px;
}

.navbar__line {
  background: #ffffff;
  opacity: 0.25;
  height: 1px;
  display: flex;
  width: 100%;
  margin-right: -32px;
  z-index: 2;
}

.navbar__links {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  padding: 39px 150px;
  margin: 40px 0;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40vw;
    justify-content: space-between;
  }

  li {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #ffffff;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      bottom: -39px;
      width: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: 0.2s;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover::after {
      width: 100%;
    }

    &:active::after {
      background-color: #ffffff;
    }
  }

  .active li::after {
    background-color: #ffffff;
    width: 100%;
  }

  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}

.navbar__links-smallcreen {
  display: none;
}

@media screen and (max-width: 1940px) {
  .navbar__logo {
    margin: 32px 55px;
  }

  .navbar__links {
    padding: 39px 100px;
    margin: 20px 0;

    ul {
      width: 48vw;
    }
  }
}

@media screen and (max-width: 880px) {
  .navbar__container {
    justify-content: space-between;
  }

  .navbar__line {
    display: none;
  }

  .navbar__logo {
    margin: 22px 0 22px 39px;
  }

  .navbar__links {
    padding: 39px 48px;
    margin: 0;

    ul {
      min-width: 330px;
    }

    span {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .navbar__links {
    display: none;
  }

  .navbar__logo {
    margin: 24px;
  }

  .navbar__links-smallcreen {
    display: block;
    margin: 24px;

    img {
      z-index: 1;
      position: relative;
      cursor: pointer;
      padding: 1rem;
    }
  }

  .navbar__links-smallscreen_menu {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70%;
    transition: 0.6s;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      font-family: var(--main-font);
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      color: #ffffff;
      margin-left: 32px;
      margin-bottom: 32px;
      font-weight: 400;
      cursor: pointer;

      &:first-child {
        margin-top: 118px;
      }
    }

    span {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
    }
  }
}
