/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/*==================== VARIABLES SCSS ====================*/
:root {
  /*========== Colors ==========*/
  /* HSL color mode */
  --first-color: hsl(230, 35%, 7%);
  --second-color: hsl(231, 77%, 90%);
  --title-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  --heading-font: 'Bellefair', serif;
  --main-font: 'Barlow Condensed', sans-serif;
  --test-body-font: 'Barlow', sans-serif;
}

body {
  margin: 0;
  background-color: #0b0e17;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

h5 {
  font-family: var(--main-font);
}

.uppercase {
  text-transform: uppercase;
}

.subheading1 {
  font-family: var(--heading-font);
  font-size: 28px;
}

.subheading2 {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav__text {
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 2.7px;
}

.background__img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: calc(100vh - 137px);
  padding-top: 137px;

  @media screen and (max-width: 1940px) {
    .background__img {
      padding-top: 137px;
      height: calc(100vh - 137px);
    }
  }

  @media screen and (max-width: 880px) {
    .background__img {
      padding-top: 97px;
      height: calc(100vh - 97px);
    }
  }

  @media screen and (max-width: 550px) {
    .background__img {
      background-attachment: fixed;
      height: max-content;
      padding-top: 100px;
      min-height: calc(100vh - 100px);
      height: calc(100vh - 100px);
    }
  }
}

.slide-left {
  -webkit-animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.container {
  width: calc(100% - 330px);
  padding-left: 165px;
  padding-right: 165px;

  h5 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: var(--title-color);
    margin: 0;
    margin-top: 70px;
  }

  h5 span {
    font-weight: 700;
    opacity: 0.25;
  }
}

.content__container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

@media screen and (min-width: 2000px) {
  .container {
    h5 {
      font-size: 36px;
      letter-spacing: 4.725px;
    }
  }

  .content__container {
    align-items: center;
  }
}

@media screen and (max-width: 1450px) {
  .container h5 {
    margin-top: 0;
  }
}

@media screen and (max-width: 1230px) {
  .container {
    width: calc(100%);
    padding-left: 0;
    padding-right: 0;

    h5 {
      margin-left: 9vw;
    }
  }
}

@media screen and (max-width: 880px) {
  .container {
    background-attachment: fixed;
    padding-top: 136px;
    height: calc(100vh - 136px);
  }

  .content__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .container {
    background-attachment: fixed;
    height: max-content;
    min-height: calc(100vh - 139px);
    padding-top: 139px;

    h5 {
      margin: 0;
      margin-top: -20px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      text-align: center;

      span {
        margin-right: 18px;
      }
    }
  }

  
  .content__container {
    flex-direction: column;
  }

}
