/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/*==================== VARIABLES SCSS ====================*/
:root {
  /*========== Colors ==========*/
  /* HSL color mode */
  --first-color: hsl(230, 35%, 7%);
  --second-color: hsl(231, 77%, 90%);
  --title-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  --heading-font: 'Bellefair', serif;
  --main-font: 'Barlow Condensed', sans-serif;
  --test-body-font: 'Barlow', sans-serif;

}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

h5 {
  font-family: var(--main-font);
}

.uppercase {
  text-transform: uppercase;
}

.subheading1 {
  font-family: var(--heading-font);
  font-size: 28px;
}

.subheading2 {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav__text {
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 2.7px;
}

.background__img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: calc(100vh - 137px);
  padding-top: 137px;

  @media screen and (max-width: 1940px) {
    .background__img {
      padding-top: 137px;
      height: calc(100vh - 137px);
    }
  }

  @media screen and (max-width: 880px) {
    .background__img {
      padding-top: 97px;
      height: calc(100vh - 97px);
    }
  }

  @media screen and (max-width: 550px) {
    .background__img {
      background-attachment: fixed;
      height: max-content;
      padding-top: 100px;
      min-height: calc(100vh - 100px);
      height: calc(100vh - 100px);
    }
  }
}

.slide-left {
  -webkit-animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}